@font-face {
  font-family: 'News';
  src: url('/fonts/news-706-bt.ttf');
}

@font-face {
  font-family: 'Pfd';
  src: url('/fonts/pfdintextcomppro-bold.ttf');
}

p {
  word-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: 'Pfd';
}

.hero {
  position: relative;
}

.textured {
  background: url("/img/backgroundtexture.png");
}

#skyline {
  width: 100%;
}

.wdi-logo {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#wdi-logo {
  width: 35%;
}

.students h2 {
  font-family: 'Pfd';
  font-size: 1.5em;
}

.students .desc {
  font-family: 'News'
}

.profile-pic {
  position: relative;
}

.profile-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7%;
}

.banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  font-family: 'Pfd';
  color: white;
}

.banner-name p {
  font-size: 1.3em;
}