.hero {
  position: relative;
}

.textured {
  background: url("/img/backgroundtexture.png");
}

#skyline {
  width: 100%;
}

.wdi-logo {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#wdi-logo {
  width: 35%;
}

.profile-pic {
  position: relative;
}

.profile-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15%;
}