.textured {
  background: url("/img/backgroundtexture.png");
}

#skyline {
  width: 100%;
}

.wdi-logo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.profile-pic {
  position: relative;
}

.profile-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15%;
}