.name img {
  max-height: 35px;
  margin-top: -4px;
  padding: 5px;
}

main section {
  padding-top: 2em;
}

@font-face {
  font-family: 'News';
  src: url('/fonts/news-706-bt.ttf');
}

@font-face {
  font-family: 'Pfd';
  src: url('/fonts/pfdintextcomppro-bold.ttf');
}

p {
  word-wrap: break-word;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-family: 'Pfd';
}

.hero {
  position: relative;
}

.textured {
  background: url("/img/backgroundtexture.png");
}

#skyline {
  width: 100%;
}

.wdi-logo {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#wdi-logo {
  width: 35%;
}

.students h2, .instructors h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Pfd';
  font-size: 1.5em;
}

.students .desc, .instructors .desc, .tech .desc {
  font-family: 'News'
}

.tech .desc {
  padding: 0;
  bottom: 0;
}

.profile-pic {
  position: relative;
}

.profile-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7%;
}

.banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  font-family: 'Pfd';
  color: white;
}

.banner-name p {
  font-size: 1.3em;
}

.join {
  padding-bottom: 3em;
}

footer {
  padding: 1em;
  font-family: 'News';
  background: #333333;
}

footer * {
  color: white;
  margin: 0;
  padding: 0;
}